html, body {
    height: 100%;
}

body {
	max-width: 800px;
	color: $text-color;
	background: $background-color;
	font-family: "Times New Roman", Times, serif;
	font-size: 120%;
	font-weight: 400;
	line-height: 220%;
	letter-spacing: 1px;
	margin:0 auto auto auto;
	text-indent:10px;
	height: 100%;
	padding: 2em 1em;
}

h1,h2,h3,h4,h5,h6 {
     font-weight: bold;
     line-height: 1.8;
     margin: 0;
     text-transform: capitalize;
}

a {
    text-decoration: none;
    &:hover{
     color: $text-color;
    }
}

p {
    text-indent:2em;
    margin:5px 0 0 0;
    padding:0;
}
$text-color:　#333;
$background-color: #FFFFFF;